In [1]:
import models1
from ensamble import Ensamble
from ensamble import Ensamble_diferente_peso_gradiente
import pandas as pd
import pickle
from tqdm import tqdm_notebook as tqdm
from sklearn.model_selection import train_test_split

In [8]:
df_C_Soil = pd.read_csv('data/training_13C_suelos_v2.csv')
df_C_Plant = pd.read_csv('data/training_13C_plantas_v2.csv')

df_C_Soil = df_C_Soil.rename(columns={'13C': 'iso'})
df_C_Plant = df_C_Plant.rename(columns={'13C': 'iso'})

In [9]:
data = []
n=1

for df_cuenca in [df_C_Soil, df_C_Plant]:
    y = df_cuenca['iso'].values
    dff = df_cuenca
    del dff['iso']
    X = dff[dff.keys()].values
    modelos = []
    for i in tqdm(range(0, 10)):
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
        #model 1
        model1 = models1.ModelForest(X_train, y_train)
        model1.fit(10)
        modelos.append(model1)

        #model2
        model2 = models1.ModelMLP(X_train, y_train)
        model2.fit('tanh')
        modelos.append(model2)
    if n==1:
        c_soil = Ensamble(modelos)
        n=2
    else:
        c_plant = Ensamble(modelos)

<ipython-input-9-90201fd9b5ce>:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0, 10)):

  0%|          | 0/10 [00:00<?, ?it/s]

<ipython-input-9-90201fd9b5ce>:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0, 10)):

  0%|          | 0/10 [00:00<?, ?it/s]

In [10]:
file_pi = open('c_soil.obj', 'wb')

pickle.dump(c_soil, file_pi)

In [11]:
file_pi = open('c_plant.obj', 'wb')

pickle.dump(c_plant, file_pi)

In [12]:
filehandler = open('c_soil.obj', 'rb') 
c_s = pickle.load(filehandler)

In [14]:
y = c_s.predict(X)

(array([-24.11896039, -23.83033759, -24.11896039, -22.31235685,
        -24.11896039, -23.83033759, -24.27752285, -23.83033759,
        -24.26245413, -22.65063007, -25.87484761, -24.11896039,
        -22.65063007, -24.11896039, -23.83033759, -22.31235685,
        -24.11896039, -24.27752285, -24.27752285, -23.83033759,
        -24.11896039, -23.83033759, -26.29018476, -23.83033759,
        -22.65063007, -26.4117134 , -22.65063007, -22.31235685,
        -24.26245413, -26.4117134 , -22.31235685, -25.87484761,
        -24.11896039, -25.49641975, -23.83033759, -24.11896039,
        -24.27752285, -23.83033759, -25.87484761, -26.4117134 ,
        -27.15487769, -25.61240653, -26.49471838, -25.61240653,
        -26.29571099, -25.30882277, -26.40151043, -26.29571099,
        -26.49471838, -25.61240653, -25.30882277, -26.29571099,
        -25.61240653, -26.64536901, -26.40151043, -26.40151043,
        -21.0616822 , -21.0616822 , -21.95150113, -21.95150113,
        -21.95150113, -22.64552221, -22.64552221, -22.55922607,
        -22.55922607, -23.10265972, -23.10265972, -23.11566116,
        -21.95167472, -22.64552221, -22.55922607, -23.11566116,
        -23.51672602, -23.68528356, -23.6572493 , -23.6572493 ,
        -23.6572493 , -23.68528356, -23.51672602, -23.11566116,
        -23.11566116, -23.10265972, -23.10265972, -22.64552221,
        -22.64552221, -21.01807706, -20.203409  , -20.203409  ,
        -20.39990944, -26.41698995, -26.36845612, -25.53772279,
        -25.49439009, -26.32879856, -26.41698995, -25.82389293,
        -26.36845612, -25.49439009, -26.32879856, -26.41698995,
        -25.82389293, -26.36845612, -25.53772279, -25.6233632 ,
        -26.32879856, -26.41698995, -25.82389293, -26.36845612,
        -25.53772279, -25.6233632 , -26.32879856, -26.54600708,
        -26.41698995, -25.82389293, -26.36845612, -25.53772279,
        -25.49439009, -25.6233632 , -25.6233632 , -26.28594013,
        -22.55922607, -26.41698995, -26.20739941, -26.54600708,
        -26.54600708, -26.54600708, -26.41698995]),
 array([0.59355496, 0.81663477, 0.59355496, 2.64193245, 0.59355496,
        0.81663477, 0.7621087 , 0.81663477, 1.41015655, 1.05473525,
        1.3857355 , 0.59355496, 1.05473525, 0.59355496, 0.81663477,
        2.64193245, 0.59355496, 0.7621087 , 0.7621087 , 0.81663477,
        0.59355496, 0.81663477, 2.0871215 , 0.81663477, 1.05473525,
        1.85750222, 1.05473525, 2.64193245, 1.41015655, 1.85750222,
        2.64193245, 1.3857355 , 0.59355496, 1.06791124, 0.81663477,
        0.59355496, 0.7621087 , 0.81663477, 1.3857355 , 1.85750222,
        1.0250273 , 1.70350933, 1.71870228, 1.70350933, 1.88137381,
        1.55736678, 1.94941543, 1.88137381, 1.71870228, 1.70350933,
        1.55736678, 1.88137381, 1.70350933, 2.09939426, 1.94941543,
        1.94941543, 0.73760804, 0.73760804, 0.24337084, 0.24337084,
        0.24337084, 0.4272904 , 0.4272904 , 0.20979199, 0.20979199,
        0.3375648 , 0.3375648 , 0.32854362, 0.24330345, 0.4272904 ,
        0.20979199, 0.32854362, 0.27727812, 0.40692253, 0.67109006,
        0.67109006, 0.67109006, 0.40692253, 0.27727812, 0.32854362,
        0.32854362, 0.3375648 , 0.3375648 , 0.4272904 , 0.4272904 ,
        0.75402216, 1.1991101 , 1.1991101 , 1.2082421 , 0.28798041,
        0.28532334, 0.5343507 , 0.49875295, 0.27651182, 0.28798041,
        0.39657592, 0.28532334, 0.49875295, 0.27651182, 0.28798041,
        0.39657592, 0.28532334, 0.5343507 , 0.4638792 , 0.27651182,
        0.28798041, 0.39657592, 0.28532334, 0.5343507 , 0.4638792 ,
        0.27651182, 0.20477689, 0.28798041, 0.39657592, 0.28532334,
        0.5343507 , 0.49875295, 0.4638792 , 0.4638792 , 1.00137566,
        0.20979199, 0.28798041, 0.32257781, 0.20477689, 0.20477689,
        0.20477689, 0.28798041]))

In [28]:
np.shape(X)

(127, 28)

In [6]:
import numpy as np

In [7]:
df = pd.read_csv('data/training_All_v1.csv')

In [8]:
df = df[['bio1', 'bio2', 'bio3', 'bio4', 'bio5', 'bio6', 'bio7', 'bio8', 'bio9',
       'bio10', 'bio11', 'bio12', 'bio13', 'bio14', 'bio15', 'bio16', 'bio17',
       'bio18', 'bio19', 'Latitude', 'Longitude', 'Atacama', 'Arica',
       'La_Serena', 'Santiago', 'Maule', 'Norte', 'Sur', 'suelo', 'planta',
       'N', 'C', 'iso']]

In [21]:
df

,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9,bio10,...,La_Serena,Santiago,Maule,Norte,Sur,suelo,planta,N,C,iso
0,16.680066,19.940985,73.603150,222.898539,30.221051,3.088484,27.132568,17.506520,18.646753,19.269062,...,0,0,0,1,0,1,0,1,0,13.55
1,13.945570,16.422479,66.199236,302.465765,26.373077,1.530497,24.842580,13.844643,15.541803,17.465280,...,0,0,0,1,0,1,0,1,0,2.92
2,17.292080,7.011714,49.380242,201.289604,25.103611,10.860042,14.243569,18.758515,19.791519,20.085420,...,0,0,0,1,0,1,0,1,0,12.88
3,8.004621,13.752827,67.942430,172.048517,18.357537,-1.905314,20.262851,9.505382,7.752109,10.127124,...,0,0,0,1,0,1,0,1,0,6.38
4,19.663313,6.021628,46.403303,214.393737,27.463324,14.379219,13.084105,21.727257,22.187209,22.400360,...,0,0,0,0,1,1,0,1,0,-1.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,14.121252,13.251624,56.089936,355.066326,26.990337,3.313603,23.676734,9.829689,17.174319,18.535722,...,1,0,0,0,1,0,1,0,1,-27.62
534,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-26.78
535,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-27.75
536,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-28.47
537,15.061193,14.461514,57.281906,359.052620,28.774091,3.484117,25.289974,10.831296,18.122532,19.549044,...,1,0,0,0,1,0,1,0,1,-26.64

In [17]:
X = df[df.keys()[:-1]].values
y = df['iso'].values
modelos = []
for i in tqdm(range(0, 10)):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    #model 1
    model1 = models1.ModelForest(X_train, y_train)
    model1.fit(10)
    modelos.append(model1)

    #model2
    model2 = models1.ModelTree(X_train, y_train)
    model2.fit(10)
    modelos.append(model2)

modelAll = Ensamble(modelos)

<ipython-input-17-b2f6e8a0a540>:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0, 10)):

  0%|          | 0/10 [00:00<?, ?it/s]

In [18]:
file_pi = open('modelAll.obj', 'wb')

pickle.dump(modelAll, file_pi)

# Diferentes pesos

In [2]:
df = pd.read_csv('data/training_All_v1.csv')

In [3]:
df.columns

Index(['bio1', 'bio2', 'bio3', 'bio4', 'bio5', 'bio6', 'bio7', 'bio8', 'bio9',
       'bio10', 'bio11', 'bio12', 'bio13', 'bio14', 'bio15', 'bio16', 'bio17',
       'bio18', 'bio19', 'Latitude', 'Longitude', 'iso', 'Atacama', 'Arica',
       'La_Serena', 'Santiago', 'Maule', 'Norte', 'Sur', 'suelo', 'planta',
       'N', 'C'],
      dtype='object')

In [4]:
df_espacial = df[['bio1', 'bio2', 'bio3', 'bio4', 'bio5', 'bio6', 'bio7', 'bio8', 'bio9',
       'bio10', 'bio11', 'bio12', 'bio13', 'bio14', 'bio15', 'bio16', 'bio17',
       'bio18', 'bio19', 'Latitude', 'Longitude', 'Atacama', 'Arica',
       'La_Serena', 'Santiago', 'Maule', 'Norte', 'Sur', 'suelo', 'planta',
       'N', 'C','iso']]

df_clima = df[['bio1', 'bio2', 'bio3', 'bio4', 'bio5', 'bio6', 'bio7', 'bio8', 'bio9',
       'bio10', 'bio11', 'bio12', 'bio13', 'bio14', 'bio15', 'bio16', 'bio17',
       'bio18', 'bio19', 'suelo', 'planta',
       'N', 'C', 'iso']]

In [5]:
df_espacial

,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9,bio10,...,La_Serena,Santiago,Maule,Norte,Sur,suelo,planta,N,C,iso
0,16.680066,19.940985,73.603150,222.898539,30.221051,3.088484,27.132568,17.506520,18.646753,19.269062,...,0,0,0,1,0,1,0,1,0,13.55
1,13.945570,16.422479,66.199236,302.465765,26.373077,1.530497,24.842580,13.844643,15.541803,17.465280,...,0,0,0,1,0,1,0,1,0,2.92
2,17.292080,7.011714,49.380242,201.289604,25.103611,10.860042,14.243569,18.758515,19.791519,20.085420,...,0,0,0,1,0,1,0,1,0,12.88
3,8.004621,13.752827,67.942430,172.048517,18.357537,-1.905314,20.262851,9.505382,7.752109,10.127124,...,0,0,0,1,0,1,0,1,0,6.38
4,19.663313,6.021628,46.403303,214.393737,27.463324,14.379219,13.084105,21.727257,22.187209,22.400360,...,0,0,0,0,1,1,0,1,0,-1.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
533,14.121252,13.251624,56.089936,355.066326,26.990337,3.313603,23.676734,9.829689,17.174319,18.535722,...,1,0,0,0,1,0,1,0,1,-27.62
534,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-26.78
535,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-27.75
536,14.781758,14.284080,57.344513,352.678578,28.363834,3.405418,24.958416,10.496199,18.252404,19.212604,...,1,0,0,0,1,0,1,0,1,-28.47
537,15.061193,14.461514,57.281906,359.052620,28.774091,3.484117,25.289974,10.831296,18.122532,19.549044,...,1,0,0,0,1,0,1,0,1,-26.64

In [6]:
X = df_espacial[df_espacial.keys()[:-1]].values
y = df_espacial['iso'].values
modelos_espacial = []
for i in tqdm(range(0, 10)):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    #model 1
    model1 = models1.ModelForest(X_train, y_train)
    model1.fit(10)
    modelos_espacial.append(model1)

    #model2
    model2 = models1.ModelTree(X_train, y_train)
    model2.fit(10)
    modelos_espacial.append(model2)

<ipython-input-6-d3ae8c5028cd>:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0, 10)):

  0%|          | 0/10 [00:00<?, ?it/s]

In [7]:
X = df_clima[df_clima.keys()[:-1]].values
y = df_clima['iso'].values
modelos_clima = []
for i in tqdm(range(0, 10)):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    #model 1
    model1 = models1.ModelForest(X_train, y_train)
    model1.fit(10)
    modelos_clima.append(model1)

    #model2
    model2 = models1.ModelTree(X_train, y_train)
    model2.fit(10)
    modelos_clima.append(model2)

<ipython-input-7-951953e0e2f3>:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(range(0, 10)):

  0%|          | 0/10 [00:00<?, ?it/s]

In [8]:
model_dif = Ensamble_diferente_peso_gradiente(modelos_espacial, modelos_clima)

In [9]:
file_pi = open('model_dif_grad.obj', 'wb')

pickle.dump(model_dif, file_pi)